
.homepage_container{
    display: flex;
    align-items: center;
    height: 90vh;
}

.homepage_left{
    flex: 0.6;
    padding-right: 30px;

}

.homepage_left_h1{
    font-size: 22px;
}
.red_color{
    color: red;
}

.homepage_left_h2{
    font-size: 48px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    animation: stack-letters 2s linear infinite;
}

    @keyframes stack-letters {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
}

.homepage_left_h3{
    font-size: 30px;
}

.homepage_left_description{
    font-size: 15px;
}

.homepage_logo{
    height: 60px;
    margin: 10px 0;
    border-radius: 10%;
}

.homepage_logo1{
    height: 60px;
    margin: 10px 0;
    border-radius: 10%;
}

.homepage_left_button{
    margin-top: 25px;
    font-size: 20px;
    padding: 8px 10px;
    background-color: black;
    color:red;
    cursor: pointer;
    border-radius: 10%;
}


.homepage_right{
    flex: 0.4;
}
.homepage_right > img{
    width: 100%;
    border-radius: 10%;
}